@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');


/* Reset CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;
}


/* #loading */
#loading {
	width: 100%;
	height: 100vh;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('http://itracoon.dothome.co.kr/image/mock2.png') center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 99;
}

#loading h4 {
	font-size: 2rem;
}

#loading h2 {
	font-size: 3.5rem;
	margin: 2rem 0;
	letter-spacing: 3px;
	font-family: 'Varela Round', sans-serif;
}

#loading p {
	max-width: 550px;
	margin: 0 auto;
	font-size: 1.25rem;
}

#loading h2 span::after {
	content: "";
	height: 40px;
	width: 3px;
	background-color: #fff;
	display: inline-block;
	animation: blink .7s ease-in-out infinite;
}



/* CSS */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.section{
	text-align:center;
}
.menucontainer{
	display: flex;
	justify-content: flex-end;
}
#menu{
	position:fixed;
	top:0;
	height: 40px;
	z-index: 70;
	padding: 0;
	margin:0;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	border: 1px solid black;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
  border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgb(251, 206, 177, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}

.slide img{}
.slide .tech a img:hover{
	transform: scale(1.5, 1.5); 
	transition-duration: 0.5s; 
}

.fp-controlArrow.fp-prev {
	left: 25px;
	width: 50px;
	height: 100px;
	background-image: url(http://itracoon.dothome.co.kr/image/angle-left-solid.svg);
	background-repeat: no-repeat;
	border: none;
	animation: leftmove 1s ease-in-out infinite;
}
.fp-controlArrow.fp-next {
	right: 15px;
	width: 50px;
	height: 100px;
	background-image: url(http://itracoon.dothome.co.kr/image/angle-right-solid.svg);
	background-repeat: no-repeat;
	border: none;
	animation: rightmove 1s ease-in-out infinite;
}

@keyframes leftmove {
	0% {
		left: 1rem;
	}

	50% {
		left: 1.5rem;
	}

	100% {
		left: 1rem;
	}
} 
@keyframes rightmove {
	0% {
		right: 1rem;
	}

	50% {
		right: 1.5rem;
	}

	100% {
		right: 1rem;
	}
} 

/* main */
.firstsection{
	width: 1100px;
	margin: 0 auto;
}
.firstline{
	width: 100%;
	height: 100px;
	opacity: 0;
	margin-bottom: 60px;
	position: relative;
	text-align: left;
}
.maintext{
	width: 80px;
}
.mainglass{
	width: 130px;
	padding: 0;
	display: inline-block;
	position: relative;
	right: 35px;	
	z-index: 1;
}
.smilemo{
	width: 120px;
}
.faftergroup{
	display: inline-block;
	position: relative;
	right: 70px;
}
.passionate{
	width: 600px;
}
.mainpuzzle1{
	width: 80px;
}

.secondline{
	width: 100%;
	height: 100px;
	margin-bottom: 50px;
	/* opacity: 0; */
	text-align: left;
}

.frontend{
	width: 600px;
}
.halfcircle{}
.arrowright{}

.thirdline{
	width: 100%;
	height: 100px;
	text-align: left;
}
	.togglegroup{
		position: relative;
		width: 200px;
		
	}
	.togglebg{
		position: absolute;
		width: 200px;
	}
	.toggleglass{
		position: absolute;
		transition:all 2s;
	}
	.togglegroup:hover .toggleglass{
		margin-left: 100px;
	}
	

.lastgroup .developer{
	width: 600px;
	margin-left:200px;
	position: relative;
}
.star{
	position: relative;
	width:30px;
	margin-bottom: 20px;
}
.bluestar{
	width:30px;
}
.star2{
	position: relative;
	width:30px;
	float: right;
	margin-right: 60px;
}
.greenstar, .yellowstar{
	width: 30px;
}
.star3{
	position: relative;
	width:30px;
	margin:70px 0 0 200px;
}


 .firstsection button.mouse {
	background-color: transparent;
	border: none;
	color: #000;
	font-size: 2rem;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	animation: upDown 1s ease-in-out infinite;
	cursor: pointer;
}

@keyframes upDown {
	0% {
		bottom: 1rem;
	}

	50% {
		bottom: 1.5rem;
	}

	100% {
		bottom: 1rem;
	}
} 

/* profile */
.profile{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}
.profile .container{
	width: 100%;
	height: 100%;
	
}
.profileli{
	position: relative;
	width: 100px;
	display: flex;
	margin-top: 70px;
}

.profileli h1{
	color: #000;
	display: flex;
	width: 700px;
	font-size: 100px;
	margin-top: 40px;
}

.profileli .hide0{}
.profileli .computer img{
	width: 120px;
	display: inline-block;
	z-index: 1;
}
.profileli .profilearrow{
	position: relative;
	width: 150px;
	height: 120px;
	top: 40px;
}
.profileli .company{
	width: 200px;
	height: 200px;
}

.bottomprofile{
	display: flex;
	width: 100%;
	height: 60%;
	margin-top: 50px;
}
.myprofile{
	width: 55%;
	border: 1px solid black;
	border-radius: 10px;
	margin-right: 20px;
	background-color: #fff;
}
.myprofile img{
	width: 350px;
	margin: 15px 0;
}
.myprofile p{
	font-size: 25px;
	color: #000;
}

.myprofile ul li{
	font-size: 25px;
	color: #000;
	opacity: 0;
	margin: 25px 20px;
	padding: 10px 0;
	text-align: left;
	line-height: 1.2em;
} 
.education{
	width: 45%;
	border: 1px solid black;
	border-radius: 10px;
	color: #000;
}
.education .process{
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	margin: 25px 0;
}
.education .process span{
	font-size: 35px;
	color: blueviolet;
 }
.education .edu{
	width: 100%;
	text-align: left;
	margin-left: 20px;
}
 .edu h2{
	font-size: 25px;
 }
 .edu p span{
	display: block;
	width: 100%;
	margin: 5px 0;
	font-size: 25px;
 }
 .edu .date{
	width: 100%;
	margin-top: 30px;
 }
 .edu .short1{
	width: 190px;
 }
 .edu .short2{
	width: 220px;
 }
 .edu .long{
	width: 300px;
 }

 .edu .endedu::after{
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	margin:-10px 0 0 0;
	background: moccasin;
	animation: drawline 1.5s 0.3s;
 }


@keyframes drawline {
	0% {
			width: 0;
	}
	100% {
			width: 100%;
	}

}


/* skill */
.inner{
	width: 1024px;
	margin: 0 auto;
}
#section3 .wrap-wave{
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}
#section3 .wrap-wave .inner{
    height: 100%;
    width: 100%;
    position: relative;
}
#section3 .wrap-wave .inner .unit{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #98d3f3;
    transition: transform 1s ease-in-out;
    transform:translateY(calc(100% - 50px));
}
#section3 .wrap-wave .inner .unit .wave{
    height: 50px;
    background: #b6e4fe;
}
#section3 .wrap-wave .inner .unit .wave:before,
#section3 .wrap-wave .inner .unit .wave:after{
    content: '';
    display: block;
    width: 4800px;
    height: 50px;
    position: absolute;
    left: 0;
    background: url(../images/bg_wave.png) 0px 0px;
    background-size: 2400px 50px;
    opacity: .1;
}
#section3 .wrap-wave .inner .unit .wave:before{
    animation:ani_wave1 5s linear infinite;
}
@keyframes ani_wave1{
    0%{background-position:-500px 0}
    100%{background-position:-2900px 0}
}
#section3 .wrap-wave .inner .unit .wave:after{
    animation:ani_wave2 7s linear infinite;
}
@keyframes ani_wave2{
    0%{background-position:0px 0}
    100%{background-position:-2400px 0}
}
#section3 .wrap-wave .inner .unit .num{
    font-size: 80px;
    color: #fff;
    opacity: 0.5;
    margin-left: 30px;
    display: inline-block;
    animation:ani-num 3s ease-in-out infinite;
}
@keyframes ani-num{
    0%{transform: translateY(0);}
    25%{transform: translateY(-10px);}
    50%{transform: translateY(0);}
    75%{transform: translateY(10px);}
    100%{transform: translateY(0);}
}
#section3 .wrap-wave .inner .unit .num > strong{
    font-size: 90px;
}
#section3 .wrap-link{
    position: absolute;
    right: 150px;
    bottom: 50px;
    text-align: right;
}
#section3 .wrap-link .unit{}
#section3 .wrap-link .unit > a{
    font-size: 80px;
    font-weight: bold;
    color: #2d3a42;
    height:105px;
    line-height: 105px;
    overflow-y: hidden;
    display: block;
}
#section3 .wrap-link .unit > a:hover{
    color: #fff;
}




/* portfolio */
.slideli{
	width: 100%;
}
.slideli .container{
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin:0 auto;
}
.leftimg img{
	width: 600px;
	height: 600px;
}
.rightxt{
	width: 500px;
	margin:auto;
	text-align: center;
}
.rightxt h2{
	width: 100px;
}
.rightxt p{
	width: 100px;
}
.rightxt button{
	width: 100px;

}

.rightxt .webpage{
	width: 350px;
	height: 36px;
	display: block;
	margin:0 auto;
	font-family: NanumGothic;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -0.8px;
  	color: #000;
	box-sizing: border-box;
}

.rightxt .desktoppage{
	width: 500px;
	height: 64px;
	display: inline-block;
	margin: 30px auto;
	font-family: NanumGothic;
	font-size: 28px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.8px;
	color: #000;
	display: flex;
	justify-content: space-around;
}

.facing{
	width: 56px;
  height: 56px;
  margin: 10px 0 0 40px;
}

.middlebutton{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.middlebutton a{
	display: inline-block;
	width: 127px;
  height: 40px;
  margin: 10px 2px 34px 0px;
  padding: 11px 18px 10px 19px;
  border-radius: 40px;
  background-color: #9960f1;
	text-align: center;
	justify-content: center;
	
}
.middlebutton a img{
	width: 110px;
	display: inline-block;
	margin: 8px auto 0;
	position: relative;
}
.middlebutton a:hover{
	background-color: #000;
}

.hr{
	width: 475px;
	color: #d8d8d8;
}

.tech{
	width: 500px;
	display: flex;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}
.tech a{
	display: inline-block;
	width: 25px;
	padding: 0;
  height: 19px;
  margin: 17px 71px 12px 80px;
}

.lang{
	width: 46px;
  height: 20px;
  margin-top: 13px;
  font-family: NanumGothic;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
.html{
	background-color: #ff7604;
}
.css{
	background-color: #3e5af4;
}
.javascript{
	background-color: #fec74c;
}

.webfile{
	width: 79px;
  height: 19px;
  margin: 11px 4px 13px 83px;
  font-family: NanumGothic;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999;
}


/* contact */
.contact{
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
}
.contacleft{
	width: 50%;
	margin: auto;
}
.contacleft img{
	width: 50%;
}
.contacright{
	position: relative;
	width: 50%;
	height: 100%;
	top: 0;
	background-color: #272d39;
	margin: 0 0 0 30px;
}

.contacright .infogroup{
	position: absolute;
	left: 0;
	top: 32%;
	margin-left: 30px;
	text-align: left;
	padding-bottom: 200px;
	vertical-align: middle;
}
.contacright .info{
	width: 300px;
	margin: 20px 0;
}
.contacright .infogroup .info p{
	font-size: 15px;
	color: #fff;
	margin: 10px 0;
}
.contacright .infogroup .info span{
	font-size: 25px;
	color: #fff;
	border-bottom: 1px solid #757575;
	padding: 10px 0;
}

/* animation */
.section .upani {
	opacity: 0;
	transform: translateY(30px);
	transition: all 0.5s;
}
.section .upani.on{
	opacity: 1;
	transform: translateY(0);
}
.section .leftani {
	opacity: 0;
	transform: translateX(30px);
	transition: all 1.0s;
}
.section .leftani.on{
	opacity: 1;
	transform: translateX(0);
}

.section .on-1{
	transition-delay:0.3s !important;
}
.section .on-2{
	transition-delay:0.6s !important;
}
.section .on-3{
	transition-delay:0.9s !important;
}
.section .on-4{
	transition-delay:1.2s !important;
}
.section .on-5{
	transition-delay:1.5s !important;
}




