@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');


/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
/* h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
} */


/* #loading */
#loading {
	width: 100%;
	height: 100vh;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/mock2.png') center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#loading h4 {
	font-size: 2rem;
}

#loading h2 {
	font-size: 3.5rem;
	margin: 2rem 0;
	letter-spacing: 3px;
	font-family: 'Varela Round', sans-serif;
	/* 웹 폰트 추가 */
}

#loading p {
	max-width: 550px;
	margin: 0 auto;
	font-size: 1.25rem;
}

#loading h2 span::after {
	content: "";
	height: 40px;
	width: 3px;
	background-color: #fff;
	display: inline-block;
	animation: blink .7s ease-in-out infinite;
}



/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.section{
	text-align:center;
}
.menucontainer{
	display: flex;
	justify-content: flex-end;
}
#menu{
	position:fixed;
	top:0;
	/* left:0; */
	height: 40px;
	z-index: 70;
	padding: 0;
	margin:0;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	/* background:#000; */
	border: 1px solid black;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgb(251, 206, 177, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}

.slide img{
	width: 60%;
	/* transition:width 2s, height 2s, background-color 2s, transform 2 */
}
.slide:nth-child(1) img:hover{
	transform: scale(1.5, 1.5); /*확대*/
	transition-duration: 0.5s; /*실행시간*/
}
.slide:nth-child(2) img:hover{
	transform: scale(3, 3);
	transition-duration: 3s;
}
.slide:nth-child(2) img{
	transition-duration: 1s; /*마우스가 떠나면 1초에걸쳐서 원래대로*/
}
.slide:nth-child(3) img{
	overflow: hidden; /*정해진 영역 안에서 확대되도록 한다.*/
}



.fp-controlArrow.fp-next{
	right:50px;
}

.stick-area{
	position: relative;
	width: 400px;
	height: 50px;
	margin: 10px auto;
	border: 5px solid black;
}
.stick{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: greenyellow;
}

.circle-area{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: black;
	margin: 20px auto;
}


.firstsection{
	width: 1100px;
	margin: 0 auto;
}
.firstline{
	width: 100%;
	height: 100px;
	opacity: 0;
	margin-bottom: 60px;
	position: relative;
	text-align: left;
}
.maintext{
	width: 80px;
}
.mainglass{
	width: 130px;
	padding: 0;
	display: inline-block;
	position: relative;
	right: 35px;	
	z-index: 1;
}
.smilemo{
	width: 120px;
}
.faftergroup{
	display: inline-block;
	position: relative;
	right: 70px;
}
.passionate{
	width: 600px;
}
.mainpuzzle1{
	width: 80px;
}

.secondline{
	width: 100%;
	height: 100px;
	margin-bottom: 50px;
	/* opacity: 0; */
	text-align: left;
}

.frontend{
	width: 600px;
}
.halfcircle{}
.arrowright{}

.thirdline{
	width: 100%;
	height: 100px;
	text-align: left;
}
	.togglegroup{
		position: relative;
		width: 200px;
		
	}
	.togglebg{
		position: absolute;
		width: 200px;
	}
	.toggleglass{
		position: absolute;
		transition:all 2s;
	}
	.togglegroup:hover .toggleglass{
		margin-left: 100px;
	}
	


.lastgroup{
	/* position: relative; */
}
.lastgroup .developer{
	width: 600px;
	margin-left:200px;
	position: relative;
}
/* profile */
.profile{
	width: 1100px;
	height: 1100px;
	background-color: blue;
	margin: 0 auto;
}
.profile .container{
	width: 100%;
	height: 100%;
}
.profileli{
	width: 100px;
}
.profileli:hover{
	/* position: absolute; */
	/* color: red; */
}
.profileli h1{
	color: #000;
	/* width: 200px; */
}